<%=image_tag("https://martinphillipsphotography.files.wordpress.com/2013/06/mincers-at-the-uva-corner.jpg", width:"100%") %>
<div class="jumbotron vertical-center">
  <p>Scrambling to use up your swipes at the end of the semester, settling for mediocre food, and overpaying for</p>
  <p> your meals? We've worked hard to create a meal plan that solves these problems</p>
</div>
