<%=image_tag("https://martinphillipsphotography.files.wordpress.com/2013/06/mincers-at-the-uva-corner.jpg", width:"100%") %>
<div class="jumbotron vertical-center">
  <p>Scrambling to use up your swipes at the end of the semester, settling for mediocre food, and overpaying for</p>
  <p> your meals? We've worked hard to create a meal plan that solves these problems</p>
  <!-- Could you change the size of this class/add a new div inside the Bootstrap one so that you don't have the sort of awkward <p> separation? -->
</div>
