<h2>Customers</h2>


  <%= link_to "Create Customer", new_customer_path %>


<ul>
<%@customers.each do |customer| %>
  <li>
    <%=link_to customer.name, customer_path(customer) %>
  </li>
<%end%>
</ul>
