<div class="jumbotron vertical-center">

  <h2>Customers <% if current_user.role == "admin"%><%= link_to "(+)", new_customer_path %><%end%></h2>

  <ul>
    <%@customers.each do |customer| %>
    <li>
      <%=link_to customer.name, customer_path(customer) %>
    </li>
    <%end%>
  </ul>
</div>
